ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    color: aliceblue;

}

.navbarContainer ul li a {
text-decoration: none;
  }

  .navbarContainer{
    background-color: aliceblue;
    padding: 30px;
  }